.right-part{
	display: flex;
}

.menu-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-burger{
	width: 32px;
	height: 3px;
	border-radius: 22px;
	background: #fff;
	transition: all .5s ease-in-out;
}

.menu-burger::before,
.menu-burger::after{
	content: '';
	position: absolute;
	width: 32px;
	height: 3px;
	border-radius: 22px;
	background: #fff;
	transition: all .5s ease-in-out;
}

.menu-burger::before{
	transform: translateY(-10px);
}

.menu-burger::after{
	transform: translateY(10px);
}

/* ANIMATION */

.menu-btn.open .menu-burger{
	transform: translateX(-50px);
	background: transparent;
}

.menu-btn.open .menu-burger::before{
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-burger::after{
	transform: rotate(-45deg) translate(35px, 35px);
}


/* MENU */


.menu-btn.open{
	margin-right: 220px;
	transition: all 0.5s ease;
}

.menu-box{
	visibility: hidden;
	opacity: 0%;
    background: #101010;
    width: 0px;
    height: 100vh;
}

.menu-btn.open ~ .menu-box{
	visibility: visible;
	right: 0;
    width: 300px;
	opacity: 100%;
	transition: all 0.5s ease;
	position: fixed;
	z-index: 9999;
}

.box-items{
	width: 200px;
	height: 426px;
	padding-left: 40px;
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-item{
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: #fff;
}

.menu-item:hover{
	color: #FE9549;
	transition: all 0.2s ease-in-out;
}

.menu-item .button{
	background-color: #FE9549;
	width: 177px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-item .button:hover{
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}
