h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 140%;
	text-transform: uppercase;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 140%;
	text-transform: uppercase;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 140%;
	text-transform: none;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 140%;
	text-transform: uppercase;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	text-transform: none;
}

h6 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	text-transform: uppercase;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	text-transform: none;
}

.button {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	text-transform: uppercase;
}

.body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

@media screen and (max-width : 800px) {
	h1 {
		font-size: 56px;
	}

	.contact-us .title-us h3 {
		font-size: 32px;
		text-align: center;
	}

	.top-second h2 {
		font-size: 56px;
	}

	.text-block h5 {
		font-size: 18px;
	}

	.solutions .description h6 {
		font-size: 14px;
	}
}