/* @font-face {
	font-family: "Noah Bold";
	src: url("/font/Noah\ Head\ Bold.otf") format("opentype")
}

@font-face {
	font-family: "Noah Regular";
	src: url("/font/Noah\ Head\ Regular.otf") format("opentype")
} */



h1 {
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 140%;
	text-transform: uppercase;
}

h2{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 140%;
	text-transform: uppercase;
}

h3{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 140%;
	text-transform: none;
}

h4{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 140%;
	text-transform: uppercase;
}

h5{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 140%;
	text-transform: none;
}

h6{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	text-transform: uppercase;
}

.title{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 140%;
	text-transform: none;
}

.button{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	text-transform: uppercase;
}

.body{
	font-family: 'Noah Head', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
}

