/* ILLYSTRATION 1 */

.link{
    text-decoration: none;
}

.illustration-1{
    width: 100%;
    height: 1024px;
    background-image: url(../images/1st/back.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration-1 .main-points{
    width: 800px;
    height: 214px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration-1 .main-points .point{
    width: 149px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 101;
}

.illustration-1 .main-points .point .hyperlink{
    width: 149px;
    height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.illustration-1 .main-points .point .hyperlink .hover{
	visibility: hidden;
    width: 135px;
    height: 135px;
    background-color:#0373FE;
    position: absolute;
    filter: blur(50px);
    opacity: 30%;
}

.illustration-1 .main-points .point .hyperlink:hover .hover{
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.illustration-1 .main-points .point .hyperlink:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.illustration-1 .lines{
    width: 720px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.illustration-1 .lines .line{
    width: 72px;
    height: 100%;
    background-image: url(../images/1st/line.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    position:relative;
    bottom: 16px;
}

.illustration-1 .main-points .point .hyperlink:hover .line{
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.managed-services{
    width: 1026px;
    height: 144px;
    background-image: url(../images/1st/managed\ services.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
	z-index: 9999;
}

.managed-services:hover{
    background-image: url(../images/1st/hover1.png);
    transform: translate(0 ,-35px);
    transition: all 0.5s ease-in-out;
}

.next-generation{
    width: 1104px;
    height: 131px;
    background-image: url(../images/1st/next\ generation\ solutions.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: translate(0 ,-10px);
    z-index: 80;
}

.next-generation:hover{
    background-image: url(../images/1st/hover2.png);
    transform: translate(0 ,-35px);
    transition: all 0.5s ease-in-out;
}

.bottom-green{
    width: 1047px;
    height: 227px;
    background-image: url(../images/1st/bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    transform: translate(0 ,-20px);
}

.bottom-green:hover{
    transform: translate(0 ,-45px);
    transition: all 0.5s ease-in-out;
}


/* ILLYSTRATION 2 */



.illustration-2{
    margin-top: 180px;
    margin-bottom: 80px;
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.illustration-2 .infographic{
    width: 88%;
    height: 757px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration-2 .infographic .column{
    width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-block{
    display: inline-block;
    padding: 24px 32px;
    background: linear-gradient(143.83deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
    border-radius: 16px;
}

.column-block .block-title{
    height: 64px;
    display: flex;
    align-items: center;
}

.column-block .block-title .svg-title{
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.column-block .title-title{
    margin-left: 24px;
}

.column-block .points{
    margin-top: 24px;
    list-style-type: disc; 
}

.column-block .points li {
    margin-top: 8px;
    color: #18D9AB;
}

.column-block .points li span{
    color: #fff;
}

.column .two-column{
    display: flex;
}

.illustration-2 .center-circle{
    position: relative;
}

.illustration-2 .center-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}



/* ILLYSTRATION 3 */



.illustration-3{
    margin-top: 180px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.illustration-3 .methods{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.illustration-3 .methods .method{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 8px;
}

.illustration-3 .methods .method .method-svg{
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.illustration-3 .methods .method .method-name{
    margin-left: 16px;
}

.illustration-3 .infographic{
    width: 88%;
    height: 755px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 124px;
}

@media only screen and (max-width: 1280px) {
    .illustration-3 .infographic{
        height: 600px;
    }
}


@media only screen and (max-width: 1040px) {
    .illustration-3 .infographic{
        height: 520px;
    }
}



.illustration-3 .back{
    height: 80%;
    position: absolute;
    right: 0;
    top: 7%;
}

.illustration-3 .back .hover-blue{
    height: 80%;
    width: 50%;
    background: linear-gradient(180deg, #4CD4FF 0%, #42FFFF 100%);
    filter: blur(80px);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 10%;
    visibility: hidden;
	transition: all 0.2s ease-in-out;
}

.illustration-3 .back:hover .hover-blue{
    visibility: visible;
	transition: all 1s ease-in-out;
}

.illustration-3 .orange{
    height: 100%;
    position: absolute;
    right: 12%;
}

.illustration-3 .hover-orange{
	transition: all 0.2s ease-in-out;
    height: 100%;
    width: 50%;
    background: #FE9549;
    filter: blur(80px);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 10%;
    visibility: hidden;
}

.illustration-3 .orange:hover .hover-orange{
    visibility: visible;
	transition: all 1s ease-in-out;
}


.illustration-3 .method-circles{
    width: 42%;
    height: 77%;
    position: relative;
    top: 10%;
    left: 33%;
}

.illustration-3 .front{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.illustration-3 .hover-blue2{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4CD4FF 0%, #42FFFF 100%);
    filter: blur(80px);
    position: absolute;
    top: 0;
    opacity: 10%;
    visibility: hidden;
	transition: all 0.2s ease-in-out;
}

.illustration-3 .front:hover .hover-blue2{
    visibility: visible;
	transition: all 1s ease-in-out;
}

.illustration-3 .method-circles .method-5{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(-0%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    left: 34%;
    }
.illustration-3 .method-circles .method-4{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(-0%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    left: 23%;
}
.illustration-3 .method-circles .method-3{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(-0%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    left: 14%;
}
.illustration-3 .method-circles .method-2{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(-0%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    left: 6%;
}
.illustration-3 .method-circles .method-1{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translate(-0%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    left: 0;
}

.illustration-3 .hover-white:hover{
    filter: drop-shadow(22px 0px 22px rgba(255, 255, 255, 0.22));
}

.illustration-3 .mobile-infographic{
    display: block;
}


/* ILLYSTRATION 4 */
/* ILLYSTRATION 5 */
/* ILLYSTRATION 6 */
/* ILLYSTRATION 7 */


.illustration-4-7{
    width: 100%;
}

.illustration-points{
    list-style: disc;
    margin-left: 80px;
}

.mobile{
    visibility: hidden;
}

/* MOBILE SIZE */

@media screen and (max-width : 800px) {

	.illustration-1{
        height: auto;
    }

    .illustration-1 .main-points{
        width: 88%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .illustration-1 .title-1{
        margin-top: 64px;
    }

    .illustration-1 .main-points .point{
       height: 164px;
       margin-bottom: 40px;
    }

    .illustration-1 .lines{
       display: none;
    }

    .illustration-1 .link{
        margin-top: 24px;
    }

    .managed-services{
        width: 327px;
        height: 109px;
        background-image: none;
        background: linear-gradient(131.99deg, rgba(63, 121, 169, 0.46) 4.74%, rgba(63, 121, 169, 0) 100%);
        border: 1px solid #3F79A9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .next-generation{
        margin-top: 32px;
        width: 327px;
        height: 170px;
        background-image: none;
        background: linear-gradient(131.99deg, rgba(104, 193, 35, 0.46) 4.74%, rgba(104, 193, 35, 0) 100%);
        border: 1px solid #47A93F;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile{
        visibility: visible;
	    color: #fff;
        text-align: center;
    }

    .bottom-green{
       display: none;
    }

    .illustration-2{
        margin-top: 80px;
        margin-bottom: 0px;
        height: 1210px;
    }

    .illustration-2 .infographic{
        width: 100%;
        height: 1200px;
        flex-direction: column;
    }

    .illustration-2 .infographic .column{
        height: 550px;
    }

    .center-circle{
        display: none;
    }

    .illustration-3{
        margin-top: 40px;
    }

    .illustration-3 .infographic {
       display: none;
    }

    .illustration-points{
        margin-left: 24px;
    }    
    
    .illustration-3 .mobile-infographic{
        display: block;
        background-image: url(../images/2st/il22.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 560px;
        width: 327px;
        margin-top: 64px;
    }

    #block{
        height: 510px;
    }


}
