.illustration-1{
    width: 100%;
    height: 1024px;
    background-image: url(../images/1st/back.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration-1 .main-points{
    width: 800px;
    height: 214px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration-1 .main-points .point{
    width: 149px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 101;
}

.illustration-1 .main-points .point .hyperlink{
    width: 149px;
    height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.illustration-1 .main-points .point .hyperlink .hover{
	visibility: hidden;
    width: 135px;
    height: 135px;
    background-color:#0373FE;
    position: absolute;
    filter: blur(50px);
    opacity: 30%;
}

.illustration-1 .main-points .point .hyperlink:hover .hover{
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.illustration-1 .main-points .point .hyperlink:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.illustration-1 .lines{
    width: 720px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.illustration-1 .lines .line{
    width: 72px;
    height: 100%;
    background-image: url(../images/1st/line.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    position:relative;
    bottom: 16px;
}

.illustration-1 .main-points .point .hyperlink:hover .line{
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.managed-services{
    width: 1026px;
    height: 144px;
    background-image: url(../images/1st/managed\ services.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 105;
}

.managed-services:hover{
    background-image: url(../images/1st/hover1.png);
    transform: translate(0 ,-35px);
    transition: all 0.5s ease-in-out;
}

.next-generation{
    width: 1104px;
    height: 131px;
    background-image: url(../images/1st/next\ generation\ solutions.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: translate(0 ,-10px);
    z-index: 89;
}

.next-generation:hover{
    background-image: url(../images/1st/hover2.png);
    transform: translate(0 ,-35px);
    transition: all 0.5s ease-in-out;
}

.bottom-green{
    width: 1047px;
    height: 227px;
    background-image: url(../images/1st/bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    transition: all 0.5s ease-in-out;
    transform: translate(0 ,-20px);
}

.bottom-green:hover{
    transform: translate(0 ,-45px);
    transition: all 0.5s ease-in-out;
}

.illustration-2{
    margin-top: 180px;
    margin-bottom: 180px;
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.illustration-2 .infographic{
    width: 88%;
    height: 757px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration-2 .infographic .column{
    width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-block{
    display: inline-block;
    padding: 24px 32px;
    background: linear-gradient(143.83deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
    border-radius: 16px;
}

.column-block .block-title{
    height: 64px;
    display: flex;
    align-items: center;
}

.column-block .block-title .svg-title{
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.column-block .title-title{
    margin-left: 24px;
}

.column-block .points{
    margin-top: 24px;
    list-style-type: disc; 
}

.column-block .points li {
    margin-top: 8px;
    color: #18D9AB;
}

.column-block .points li span{
    color: #fff;
}

.column .two-column{
    display: flex;
}

.illustration-2 .center-circle{
    width: 630px;
    height: 605px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1350px) {
  .illustration-2 .center-circle{
      width: 512px;
      height: 493px;
  }
}

@media only screen and (max-width: 1220px) {
    .illustration-2 .center-circle{
        width: 402px;
        height: 387px;
    }
}

@media only screen and (max-width: 1000px) {
    .illustration-2 .center-circle{
        width: 323px;
        height: 311px;
    }
}


.illustration-2 .circle-arrows{
    width: 64%;
}

