@charset "UTF-8";
/* CSS Document */

body{
    background-color: 101010;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

header{
	position: fixed;
    /* background-color: 101010; */
    width: 100%;
    height: 84px;
	display: flex;
	justify-content: center;
    align-items: center;
	z-index: 999;
}

.active{
    background-color: 101010;
	transition: all 0.5s ease-in-out;
}

.header-inside{
	width: 88%;
	height: 64px;
	display: flex;
    justify-content: space-between;
}

.header .header-inside .logo{
	height: 64px;
	width: 172px;
	/* background-image: url(/images/Logo.png); */
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.top{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}


.top .cubes{
	background-image: url(../images/cubes.svg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 781px;
	height: 100%;
}

.title-1{
	width: 100%;
	color: #fff;
	text-align: center;
	margin-bottom: 124px;
}

.partners{
	margin-top: 180px;
	width: 100%;
	height: 394px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partners .logos{
	width: 80%;
	height: 314px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.partners .logos .logo-line{
	width: 100%;
	height: 46px;
	display: flex;
	justify-content: space-between;
	align-items: c;
}

.partners .partner{
	opacity: 50%;
	transition: all 0.2s ease-in-out;
}

.partner:hover{
	opacity: 100%;
	transition: all 0.2s ease-in-out;
}

.contact-us{
	width: 100%;
	height: 1006px;
	margin-top: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-us .title-us{
	width: 100%;
	height: 255px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/cubes2.svg);
	margin-top: 40px;
	color: #fff;
}

.contact-us .forms{
	margin-top: 80px;
	width: 88%;
	height: 567px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.forms .location{
	width: 57.5%;
	height: 567px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(143.83deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
}

.forms .green-line{
	width: 100%;
	height: 41px;
	background: linear-gradient(263.47deg, rgba(24, 217, 171, 0.4) 6.15%, rgba(66, 255, 255, 0.4) 92.95%);
	display: flex;
	align-items: center;
}

.green-line .inside{
	margin-left: 24px;
	display: flex;
}

.forms .contact-form{
	width: 40.5%;
	height: 567px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(143.83deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
}

.location .info{
	width: 93.5%;
	height: 486px;
	margin-top: 24px;
}

.location .info .main-info{
	height: 429px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer{
	width: 100%;
	height: 81px;
	display: flex;
	background: linear-gradient(263.47deg, rgba(24, 217, 171, 0.4) 6.15%, rgba(66, 255, 255, 0.4) 92.95%);
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 80px;
}

.footer .inside-footer{
	width: 88%;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media{
	width: 72px;
	height: 24px;
	display: flex;
	justify-content: space-between;
}

.top-second{
	width: 100%;
	height: 95vh;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
}

.cube-line{
	width: 100%;
	height: 255px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/cube-line.svg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.text-block{
	width: 100%;
	color: #fff;
}

.main-text{
	margin: 56px 80px;
}

.main-text span{
	color: #18D9AB;
}

.main-text b{
	color: #FE9549;
}
